{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4,
        "proseWrap": "preserve"
      }
    }
  ]
}
