@use '@shyland-dev/ui/styles' as *;
@use '../styles.scss' as *;
@use 'sass:color';

$side-menu-animation-duration: 0.3s;
$scale-transition-duration: 0.1s;

header {
  height: $header-height;
  width: $dynamic-width;
  display: flex;
  align-items: center;
  padding-inline: calc(#{$content-padding} + #{$content-inset-padding});

  a {
    text-decoration: none;
  }

  #title {
    display: flex;
    align-items: center;
    color: $theme-highlight;
    font-weight: bolder;
    font-size: calc(#{$responsive-unit} * 20);
    margin-right: auto;
    transition-property: transform;
    transition-duration: $scale-transition-duration;
    transition-timing-function: ease-in-out;

    @include portrait {
      font-size: calc(#{$responsive-unit} * 15);
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    img {
      height: calc(#{$responsive-unit} * 20);
      margin-right: calc(#{$responsive-unit} * 5);

      @include portrait {
        height: calc(#{$responsive-unit} * 15);
        margin-right: calc(#{$responsive-unit} * 5);
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(#{$responsive-unit} * 10);

    @include portrait {
      display: none;
    }

    a {
      background-color: $theme-highlight;
      padding: calc(#{$responsive-unit} * 5);
      border-radius: calc(#{$responsive-unit} * 5);
      font-size: calc(#{$responsive-unit} * 8);
      text-transform: capitalize;
      color: $theme-background;
      font-weight: bold;
      border-width: calc(#{$responsive-unit} * 1);
      border-style: solid;
      border-color: $theme-highlight;
      transition-property: transform;
      transition-duration: $scale-transition-duration;
      transition-timing-function: ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }

      &.active {
        background-color: $theme-background;
        color: $theme-highlight;
      }
    }
  }

  shy-icon {
    --shyIconSize: calc(#{$responsive-unit} * 15);

    display: none;
    background-color: $theme-highlight;
    padding: calc(#{$responsive-unit} * 2);
    border-radius: calc(#{$responsive-unit} * 5);
    color: $theme-background;
    font-weight: bold;
    border-width: calc(#{$responsive-unit} * 1);
    border-style: solid;
    border-color: $theme-highlight;
    transition-property: transform;
    transition-duration: $scale-transition-duration;
    transition-timing-function: ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    @include portrait {
      display: flex;
    }
  }
}

main {
  height: $content-height;
  width: $dynamic-width;
  padding: $content-padding;
  background-color: $theme-background;
}

footer {
  height: $footer-height;
  width: $dynamic-width;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: calc(#{$responsive-unit} * 9);

    @include portrait {
      font-size: calc(#{$responsive-unit} * 7);
    }

    #heart {
      color: $color-danger;
    }

    a {
      color: $theme-highlight;
      transition-property: transform;
      transition-duration: $scale-transition-duration;
      transition-timing-function: ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: $dynamic-height;
  width: $dynamic-width;
  background-color: color.adjust($color-black, $alpha: -0.5);
  animation-duration: $side-menu-animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fade-in;

  &:not(.open) {
    animation-duration: $side-menu-animation-duration;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: fade-out;
    pointer-events: none;

    nav {
      animation-duration: $side-menu-animation-duration;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-name: slide-out;
    }
  }

  nav {
    animation-duration: $side-menu-animation-duration;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: slide-in;
    float: right;
    height: 100%;
    padding-top: calc(#{$responsive-unit} * 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(#{$responsive-unit} * 10);
    background-color: $theme-background;
    border-left-color: $theme-color;
    border-left-width: $content-inset-border-width;
    border-left-style: solid;
    padding-inline: calc(#{$responsive-unit} * 5);
    max-width: calc(#{$dynamic-width-unit} * 40);

    shy-icon {
      --shyIconSize: calc(#{$responsive-unit} * 15);

      background-color: $theme-highlight;
      padding: calc(#{$responsive-unit} * 2);
      border-radius: calc(#{$responsive-unit} * 5);
      color: $theme-background;
      font-weight: bold;
      border-width: calc(#{$responsive-unit} * 1);
      border-style: solid;
      border-color: $theme-highlight;
      transition-property: transform;
      transition-duration: $scale-transition-duration;
      transition-timing-function: ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .divider {
      width: 100%;
      height: calc(#{$responsive-unit} * 1);
      background-color: $theme-color;
    }

    a {
      background-color: $theme-highlight;
      padding: calc(#{$responsive-unit} * 5);
      border-radius: calc(#{$responsive-unit} * 5);
      font-size: calc(#{$responsive-unit} * 8);
      text-transform: capitalize;
      overflow-wrap: break-word;
      color: $theme-background;
      font-weight: bold;
      border-width: calc(#{$responsive-unit} * 1);
      border-style: solid;
      border-color: $theme-highlight;
      width: 100%;
      transition-property: transform;
      transition-duration: $scale-transition-duration;
      transition-timing-function: ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }

      &.active {
        background-color: $theme-background;
        color: $theme-highlight;
      }
    }
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
