<header>
  <a id="title" href="https://github.com/dudushy/web-adventure-reborn" target="_blank">
    <img src="assets/imgs/logo.svg" alt="Web Adventure Reborn Logo" />

    WAR
  </a>

  <nav>
    @for (route of navRoutes; track $index) {
      <a [routerLink]="route.path" routerLinkActive="active">{{ route.path + '.title' | translate }}</a>
    }
  </nav>

  <shy-icon (click)="setSideMenu(true)">list</shy-icon>
</header>

<main>
  <router-outlet />
</main>

<footer>
  <h2>
    {{ 'app.footer.made_with' | translate }}

    <span id="heart">&#10084;</span>

    {{ 'app.footer.by' | translate }}

    <a href="https://github.com/dudushy" target="_blank">dudushy</a>
  </h2>
</footer>

<div class="side-menu" [class.open]="isOpenSideMenu" (click)="setSideMenu(false)">
  <nav (click)="$event.stopPropagation()">
    <shy-icon (click)="setSideMenu(false)">x-lg</shy-icon>

    <div class="divider"></div>

    @for (route of navRoutes; track $index) {
      <a (click)="setSideMenu(false)" [routerLink]="route.path" routerLinkActive="active">{{ route.path + '.title' | translate }}</a>
    }
  </nav>
</div>
