@use '@shyland-dev/ui/styles' as *;

$header-height: calc(#{$responsive-unit} * 35);
$footer-height: calc(#{$responsive-unit} * 25);
$content-height: calc(#{$dynamic-height} - #{$header-height} - #{$footer-height});
$content-padding: calc(#{$responsive-unit} * 8);
$content-inset-height: calc(#{$content-height} - #{$content-padding} * 2);
$content-inset-border-radius: calc(#{$responsive-unit} * 10);
$content-inset-border-width: calc(#{$responsive-unit} * 1);
$content-inset-padding: calc(#{$responsive-unit} * 10);

$theme-background: var(--theme-background, $color-black);
$theme-color: var(--theme-color, $color-white);

$scrollbar-width: calc(#{$responsive-unit} * 2.5);
$scrollbar-color-track: $theme-background;
$scrollbar-color-thumb: $theme-color;
$scrollbar-color-thumb-hover: $color-medium;

:root {
  --theme-background: #{$theme-background};
  --theme-color: #{$theme-color};
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $scrollbar-color-track;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-color-thumb;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-color-thumb-hover;
}

html,
body,
app-root {
  display: block;
  height: $dynamic-height;
  width: $dynamic-width;
  border: 0;
  overscroll-behavior: none;
  font-family: monospace;
  background-color: $theme-background;
  color: $theme-color;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin theme($name) {
  :host-context([data-theme='#{$name}']) & {
    @content;
  }
}
