<section class="showcase">
  <div class="controls">
    <button type="button" class="toggle-button" (click)="toggleDisabled()">
      {{ isDisabled ? ('adventures.components.select.enable' | translate) : ('adventures.components.select.disable' | translate) }}
    </button>

    <p class="selected">
      {{ 'adventures.components.select.value' | translate }} <strong>{{ selectedOption || ('adventures.components.select.none' | translate) }}</strong>
    </p>
  </div>

  <div class="examples">
    <div class="example">
      <h3>{{ 'adventures.components.select.example' | translate }} 1</h3>

      <war-select [(ngModel)]="selectedOption" (selectionChange)="updateOption($event)" [selectOptions]="optionArray" [selectIcon]="'check'" [dropdownIcon]="'chevron-down'" [disabled]="isDisabled" />
    </div>

    <div class="example">
      <h3>{{ 'adventures.components.select.example' | translate }} 2</h3>

      <war-select class="example-2" [(ngModel)]="selectedOption" (selectionChange)="updateOption($event)" [selectOptions]="optionArray" [selectIcon]="'check-circle-fill'" [dropdownIcon]="'arrow-down-circle-fill'" [disabled]="isDisabled" />
    </div>
  </div>
</section>
